In [1]:
import sys
from pathlib import Path

root = Path.cwd().parent

if str(root) not in sys.path:
    sys.path.append(str(root))

In [7]:
from qr_signal_lab.access.data_api import load

df = load("CL=F")
df.head()

            adj_close      close       high        low       open  volume
2001-01-02  27.200001  27.200001  27.400000  26.600000  27.250000   52321
2001-01-03  27.950001  27.950001  28.139999  27.049999  27.230000   66628
2001-01-04  28.200001  28.200001  28.780001  27.850000  28.200001   74383
2001-01-05  28.000000  28.000000  28.799999  27.799999  28.150000   63852
2001-01-08  27.350000  27.350000  28.400000  27.150000  28.200001   76058